body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #ffffff;
}

a {
  text-decoration: none;
}

/* HEADER */

header {
  background: #243814;
  padding: 18px 0;
}

.header-content {
  max-width: 1700px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  margin: 0;
  font-size: 22px;
  color: #fff;
  font-weight: 600;
}

.header-buttons {
  display: flex;
  gap: 12px;
}

.btn-login {
  background: #fff;
  border: none;
  padding: 8px 20px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

.btn-cadastro {
  background: #6d7f41;
  color: #fff;
  border: none;
  padding: 8px 22px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

/* LAYOUT */

.layout {
  display: flex;
  width: 100%;
}

/* SIDEBAR */

.logo img {
  width: 48px;
  height: auto;
}

.sidebar {
  width: 220px;
  background: #ffffff;
  height: calc(100vh - 80px);
  border-right: 1px solid #ddd;
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  cursor: pointer;
  font-size: 15px;
  color: #2f3d21;
  margin: 10px 15px;
}

.sidebar-item i {
  margin-right: 12px;
}

.sidebar-item:hover {
  background: #dce7cd;
  border-radius: 6px;
}

.sidebar-item.active {
  background: #6d7f41;
  color: #fff;
  border-radius: 6px;
}


.content-area {
  width: calc(100% - 220px);
  background-image: url(../img/fundo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* BANNER */

.banner {
  height: 420px;
  padding: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.banner-text {
  max-width: 520px;
  text-align: right;
  margin-top: -100px;
}

.banner-text p {
  margin: 10px 0;
  font-size: 18px;
  color: #2d3e1e;
}

.banner-text h2 {
  font-size: 36px;
  font-weight: 800;
  color: #2d3e1e;
  margin: 0;
  line-height: 1.2;
}

.banner-text .btn {
  background: #243814;
  color: white;
  padding: 12px 28px;
  border-radius: 30px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
}

/* LOGO DO BANNER */

.banner-logo {
  width: 40%;
  position: absolute;
  right: 45%;
}

.banner-logo img {
  width: 550px;
  max-width: 100%;
}

/* SEÇÕES */

.section {
  text-align: center;
  padding: 30px 40px;
}

.section-divider {
  width: 100%;
  height: 1px;
  background: #e5e5e5;
  margin: 0 auto 25px auto;
}

.section h1 {
  color: #24381d;
  margin-bottom: 10px;
}

.section p {
  margin: 0 auto;
  font-size: 18px;
  color: #333;
}

.subtitle {
  color: #555;
  margin-bottom: 30px;
}

/* CARDS */

.cards {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.card-img {
  width: 325px;
  height: 500px;
  border-radius: 16px;
  overflow: hidden;
  background: #ddd;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* SLIDER */

.slider {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
  margin: 40px 0;
  background: rgba(0,0,0,0.5);
}

.slides {
  position: relative;
  width: 100%;
  height: 100%;
}

.slide {
  position: absolute;
  inset: 0;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 1s ease;
}

.slide.active {
  opacity: 1;
  z-index: 1;
}

/* SETAS */

.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  background: rgba(0,0,0,0.5);
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px 18px;
  z-index: 2;
}

.nav.prev { left: 20px; }
.nav.next { right: 20px; }

/* DOTS */

.dots {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  z-index: 2;
}

.dot {
  width: 14px;
  height: 14px;
  background: rgba(255,255,255,0.5);
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background: #fff;
}

/* RODAPÉ */
.footer {
  background-color: #2f4a2f;
  color: #dbe6d1;
  width: 100%;
  padding: 50px 0 20px;
  font-family: Arial, sans-serif;
}

/* CONTAINER */
.footer-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 40px;

  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: 40px;
}

/* COLUNAS */
.footer-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-left {
  align-items: flex-start;
}

.footer-center {
  align-items: center;
  text-align: center;
}

.footer-right {
  align-items: flex-end;
  text-align: right;
}

/* TEXTOS */
.footer-col h3,
.footer-col strong {
  margin-bottom: 15px;
  font-weight: normal;
}

.footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-col ul li {
  margin-bottom: 8px;
}

.footer-col ul li a {
  color: #dbe6d1;
  text-decoration: none;
}

.footer-col ul li a:hover {
  text-decoration: underline;
}

/* LOGO */
.logo-rodape {
  width: 150px;
  border-radius: 100px;
}

/* SOCIAL */
.social {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}

.social a {
  background: #dbe6d1;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-rodape {
  width: 35px;
  
}

/* BOTTOM */
.footer-bottom {
  border-top: 1px solid rgba(255,255,255,0.2);
  margin-top: 30px;
  padding-top: 15px;
  text-align: center;
  font-size: 13px;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-left,
  .footer-right {
    align-items: center;
    text-align: center;
  }

  .social {
    justify-content: center;
  }
}
