  body {
    margin: 0;
    font-family: Arial, sans-serif;
  background-image: url(../img/fundo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  }
    a {
      text-decoration: none;
    }

/* HEADER */

    header {
      background: #243814;
      padding: 18px 0;
    }

    .header-content {
      max-width: 1700px;
      margin: 0 auto;
      padding: 0 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    header h1 {
      margin: 0;
      font-size: 22px;
      color: #fff;
      font-weight: 600;
    }
    .header-title {
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
}

.back-arrow {
  font-size: 22px;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
  margin-left: -30px; 
}

.back-arrow:hover {
  transform: translateX(-4px);
  opacity: 0.7;
}

/* CONTEÚDO PRINCIPAL */

main {
  min-height: calc(100vh - 320px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 15px;
}

.container {
  background: #fff;
  padding: 30px;
  width: 100%;
  max-width: 520px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.container h1 {
  text-align: center;
  margin-bottom: 25px;
  color: #333;
}

/* FORMULÁRIO */

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.grupo {
  display: flex;
  flex-direction: column;
}

.grupo label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #555;
}

.grupo input,
.grupo select {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.linha {
  display: flex;
  gap: 10px;
}

button {
  margin-top: 10px;
  padding: 12px;
  background: #243814;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #556b2f
}

/* SENHA COM OLHINHO */

.senha-container {
  position: relative;
  display: flex;
  align-items: center;
}

.senha-container input {
  width: 100%;
  padding-right: 40px;
}

.senha-container i {
  position: absolute;
  right: 12px;
  cursor: pointer;
  color: #777;
}


/* RODAPÉ */
.footer {
  background-color: #2f4a2f;
  color: #dbe6d1;
  width: 100%;
  padding: 50px 0 20px;
  font-family: Arial, sans-serif;
}

/* CONTAINER */
.footer-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 40px;

  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: 40px;
}

/* COLUNAS */
.footer-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-left {
  align-items: flex-start;
}

.footer-center {
  align-items: center;
  text-align: center;
}

.footer-right {
  align-items: flex-end;
  text-align: right;
}

/* TEXTOS */
.footer-col h3,
.footer-col strong {
  margin-bottom: 15px;
  font-weight: normal;
}

.footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-col ul li {
  margin-bottom: 8px;
}

.footer-col ul li a {
  color: #dbe6d1;
  text-decoration: none;
}

.footer-col ul li a:hover {
  text-decoration: underline;
}

/* LOGO */
.logo-rodape {
  width: 150px;
  border-radius: 100px;
}

/* SOCIAL */
.social {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}

.social a {
  background: #dbe6d1;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-rodape {
  width: 35px;
  
}

/* BOTTOM */
.footer-bottom {
  border-top: 1px solid rgba(255,255,255,0.2);
  margin-top: 30px;
  padding-top: 15px;
  text-align: center;
  font-size: 13px;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-left,
  .footer-right {
    align-items: center;
    text-align: center;
  }

  .social {
    justify-content: center;
  }
}