         body {
      margin: 0;
      font-family: Arial, sans-serif;
      background: #ffffff;
    }
    a{
      text-decoration: none;
    }

 /* HEADER */
 
   header {
  background: #243814;
  padding: 18px 0;
}

.header-content {
  max-width: 1700px;          
  margin: 0 auto;             
  padding: 0 30px;         
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  margin: 0;
  font-size: 22px;
  color: #fff;
  font-weight: 600;
}

.header-buttons {
  display: flex;
  gap: 12px;
}

.btn-login {
  background: #fff;
  border: none;
  padding: 8px 20px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

.btn-cadastro {
  background: #6d7f41;
  color: #fff;
  border: none;
  padding: 8px 22px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}


    /* LAYOUT */
    .layout {
      display: flex;
      width: 100%;
    }

    /* SIDEBAR */

.logo img {
  width: 48px;  
  height: auto; 
}

    .sidebar {
      width: 220px;
      background: #ffffff;
      height: calc(100vh - 80px);
      border-right: 1px solid #ddd;
    }

    .sidebar-item {
      display: flex;
      align-items: center;
      padding: 12px 20px;
      cursor: pointer;
      font-size: 15px;
      color: #2f3d21;
      margin: 10px 15px;
    }

    .sidebar-item i {
      margin-right: 12px;
    }

    .sidebar-item:hover {
      background: #dce7cd;
      border-radius: 6px;
    }

    .sidebar-item.active {
      background: #6d7f41;
      color: #fff;
      border-radius: 6px;
    }

/* PROGRAMAÇÃO */

 .content {
  flex: 1;
  display: flex;
  justify-content: center; 
  padding: 40px;
}

 .programacao {
  max-width: 900px;   
  width: 100%;
  text-align: center;
}


.programacao h1 {
  font-size: 32px;
  margin-bottom: 10px;
  color: #24381d;
}

.programacao .descricao {
  color: #555;
  margin-bottom: 40px;
}

.lista-programacao {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.card-programacao {
  width: 100%;
  max-width: 600px;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 20px 25px;
  text-align: left;
  background-color: #fff;
}

.card-programacao h2 {
  color: #5a6d1f;
  margin-bottom: 15px;
}

.card-programacao ul {
  list-style: disc;
  padding-left: 20px;
}

.card-programacao li {
  margin-bottom: 8px;
  color: #444;
}

/* rodapé */

   .footer {
  background-color: #2f4a2f;
  color: #dbe6d1;
  font-family: Arial, sans-serif;
  width: 100%;
  padding: 50px 0 20px;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 40px;

  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.footer-col {
  flex: 1;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}

.footer-col h3 {
  margin-bottom: 15px;
  font-weight: normal;
}

.footer-col p {
  font-size: 14px;
  line-height: 1.6;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 8px;
}

.footer-col ul li a {
  color: #dbe6d1;
  text-decoration: none;
}

.footer-col ul li a:hover {
  text-decoration: underline;
}

.social {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.social a {
  background: #dbe6d1;
  color: #2f4a2f;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-decoration: none;
}

.footer-bottom {
  border-top: 1px solid rgba(255,255,255,0.2);
  margin-top: 30px;
  padding-top: 15px;
  text-align: center;
  font-size: 13px;
}
.img-rodape{
  width: 30px;
}
