body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ffffff;
}
a{
    text-decoration: none;
}

 /* HEADER */

header {
  background: #243814;
  padding: 18px 0;
}

.header-content {
  max-width: 1700px;          
  margin: 0 auto;             
  padding: 0 30px;         
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  margin: 0;
  font-size: 22px;
  color: #fff;
  font-weight: 600;
}

.header-buttons {
  display: flex;
  gap: 12px;
}

.btn-login {
  background: #fff;
  border: none;
  padding: 8px 20px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

.btn-cadastro {
  background: #6d7f41;
  color: #fff;
  border: none;
  padding: 8px 22px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}


    /* LAYOUT */

.layout {
    display: flex;
    width: 100%;
}

    /* SIDEBAR */
.logo img {
    width: 48px;   
    height: auto; 
}

.sidebar {
    width: 220px;
    background: #ffffff;
    height: calc(100vh - 80px);
    border-right: 1px solid #ddd;
}

.sidebar-item {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 15px;
    color: #2f3d21;
    margin: 10px 15px;
}

.sidebar-item i {
    margin-right: 12px;
}

.sidebar-item:hover {
    background: #dce7cd;
    border-radius: 6px;
}

.sidebar-item.active {
    background: #6d7f41;
    color: #fff;
    border-radius: 6px;
}

/* CONTEÚDO */

.page-content {
    flex: 1;
    padding: 40px 30px;
    display: flex;
    justify-content: center;
}

.content-wrapper {
    width: 100%;
    max-width: 900px;
}

.content-wrapper h2 {
    font-size: 32px;
    margin-bottom: 6px;
    color: #2d3e1e;
    text-align: center;
}

.subtitle {
    color: #000000;
    margin-bottom: 30px;
    max-width: 700px;
    text-align: center;
}

/* CARD */

.card {
    background: #fff;
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 6px 16px rgba(0,0,0,0.08);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    color: #374151;
}

.form-group input[type="text"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #cbd5e1;
    border-radius: 8px;
    font-size: 14px;
}

    /* UPLOAD */

.upload-box {
    border: 2px dashed #9ca3af;
    border-radius: 10px;
    padding: 40px;
    text-align: center;
    color: #6b7280;
    cursor: pointer;
}

.upload-box i {
    font-size: 32px;
    margin-bottom: 10px;
}

.upload-info {
    font-size: 13px;
    margin-top: 6px;
}

.rules-box {
    background: #f9fafb;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    padding: 18px;
    margin-top: 20px;
    font-size: 14px;
}

.rules-box ul {
    padding-left: 18px;
    margin: 8px 0 0;
}

.rules-box li {
    margin-bottom: 6px;
}

.btn-submit {
    margin-top: 25px;
    width: 100%;
    padding: 14px;
    background: #243814;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.btn-submit:hover {
    background: #556b2f;
}

/* rodapé */

.footer {
    background-color: #2f4a2f;
    color: #dbe6d1;
    font-family: Arial, sans-serif;
    width: 100%;
    padding: 50px 0 20px;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.footer-col {
    flex: 1;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
}

.footer-col h3 {
    margin-bottom: 15px;
    font-weight: normal;
}

.footer-col p {
    font-size: 14px;
    line-height: 1.6;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 8px;
}

.footer-col ul li a {
    color: #dbe6d1;
    text-decoration: none;
}

.footer-col ul li a:hover {
    text-decoration: underline;
}

.social {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.social a {
    background: #dbe6d1;
    color: #2f4a2f;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-decoration: none;
}

.footer-bottom {
    border-top: 1px solid rgba(255,255,255,0.2);
    margin-top: 30px;
    padding-top: 15px;
    text-align: center;
    font-size: 13px;
}
.img-rodape{
    width: 30px;
}
